@import "../utilidades/variables";
@import "../utilidades/mixin";

/*propiedades para primera foto y nombre de html*/
main{
    background-color: $color-4;
    .div-index{
        @include imagen-titulo("../img/patiocolegio.png",1);
    }
    .div-secundarios{
        @include imagen-titulo("../img/patiocolegio.png",0);
    }
    .main-escuela{
        /*le doy la estructura y tamaño deseado a los contenedores*/
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 0.5fr);
    }
    div{
        h1{
            /*estilo letras letras h1*/
            color: $color-1;
            text-shadow: 6px 6px 3px black;
            margin: 20px;
            font-weight: 800;
        }
        .contenedor{
            /*propiedades de los div que contienen imagenes*/
            @include contenedor-imagenes(20px,20px);
            @include flex-column(1rem);
            .foto-html{
                width: 90%;
            }
            
            .detalle-foto{
                /*anotacion para debajo de la foto*/
                font-size:x-small;
                margin: 0% 5%;
                justify-content: center;
            }
            h3{
                margin-top: 15px;
                span{
                    display: block;
                }
            }
        }
        
        
    }
}


/*propiedades del html campos-formativos*/
.main-campos{
    background-image: url("../img/galeria-c-formativos.jpg");
    background-size:auto;
    align-items: center;
    .div-imagenes-campos{
        width: 500px;
        margin: 10px;
        overflow-x:auto;
        @include flex-column (1rem);
    }
}


/*propiedades de efemerides.html*/

main{
    .main-efemerides{
        .div-calendario{
            @include contenedor-imagenes (10px,10px);
            @include flex-column(1rem);
            h2{
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
            }
            .img-calendario{
                width: 80%;
            }
            .descripcion-efemerides{
                font-style:oblique;
                font-size:larger;
            }
        }
    }
}

/*css del contacto.html*/

main{
    .contactos{
        text-align: center;    
        display: grid;
        grid-template-columns: 1fr;
        div{
            margin: 1rem;
            .img-whatsapp{
                width: 30px;
            }
        }
    }
    .mapa{
        background-color: $color-3;

        
        @include flex-column(0rem);
        div{
            h5{
                text-align: center;
                padding: 20px;
            }
            iframe{
                width: 100%;
            }
        }
    }
}